JOB_RETRY_QUEUE_NAME=
JOB_FAILURE_DLQ_NAME=
LPDAAC_PROTECTED_BUCKET_NAME=
LPDAAC_PUBLIC_BUCKET_NAME=
MCP_ACCOUNT_ID=
MCP_IAM_PERMISSION_BOUNDARY_ARN=
OUTPUT_BUCKET_NAME=
PROCESSING_BUCKET_NAME=
PROCESSING_CONTAINER_ECR_URI=
PROCESSING_LOG_GROUP_NAME=
STACK_NAME=
STAGE=
VPC_ID=
